.calendar{
    display: flex;
    justify-content: center;
}
.container{
    border:1px solid darkgrey;
    width: 300px;
}
.header {
    padding: 5px;
    font-size: 22px;
    font-weight: 600;
    background-color: lightslategrey;
}
.body{
    background-color: grey;
    padding: 10px;
}